
<body>
  <h1>Welcome to KangarooBnb!</h1>
    <h2>To register, please fill data in the form below:</h2>
    <form method="POST" action="/register">
        <label>First name: <input type="text" name="firstname" required></label>
        <br>
        <label>Surname: <input type="text" name ="surname" required></label>
        <br>
        <label>Email address: <input type="text" name="email" required></label>
        <br>
        <label>Username: <input type="text" name="username" required></label>
        <br>
        <label>Password: <input type="text" name="password" required></label>
        <br>
        <input type="submit" value="Submit">
    </form>

    <h2>Already got an account? Sign in here:</h2>
    <form action="/login" method="post">
      <label>Username: <input type="text" name="username" required></label>
      <br>
      <label>Password: <input type="text" name="password" required></label>
    </form>
</body>
</html>
