<title>Spaces</title>
<h1>Post details about your space here:</h1>

<form action="/postedspace" method="post">
  <label>Space name: <input type="text" name="space_name" required></label>
  <br>
  <label>Description: <input type="text" name ="space_description"></label>
  <br>
  <label>Address: <input type="text" name="space_address" required></label>
  <input type="submit" name="Submit">
</form>
